body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}
.container_g {
    background: #ae3838;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    margin: auto;
}
h1, h2, h3 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: #4cae4c;
}

.error {
    color: red;
    margin-top: 20px;
    text-align: center;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}
