<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Connectivity Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container_g">
        <h1>City Connectivity Graph</h1>
        <img src="{{ url_for('static', filename='exp_graph.png') }}" alt="City Graph">
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
